PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=debug

# Phase 2 sẽ thêm:
# DATABASE_URL=
# REDIS_URL=
# JWT_ACCESS_SECRET=
# JWT_REFRESH_SECRET=
# MINIO_*
# BREVO_API_KEY=
